<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.finnova.masterclass4am</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/env</string>
        <string>python3</string>
        <string>/Users/robinbakshi/Documents/GitHub/Blogs-Content/scripts/generate_all_brands_8min_masterclass.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>4</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/robinbakshi/Documents/GitHub/Blogs-Content/scripts/masterclass_4am.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/robinbakshi/Documents/GitHub/Blogs-Content/scripts/masterclass_4am_error.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/robinbakshi/Documents/GitHub/Blogs-Content</string>
</dict>
</plist>
